@use 'base/variables' as v;
@use 'base/mixins' as m;

/*************************************** Animaciones que se usan en x momento ***************************************/

// Animación de flotar de la flecha del hero
@keyframes float {
    0% {
        transform: translateY(0); // Posición inicial
    }
    50% {
        transform: translateY(-1rem); // Sube ligeramente
    }
    100% {
        transform: translateY(0); // Vuelve a su posición original
    }
}

// Animación de Mis xv años del hero
@keyframes MisXVaños {
    0% {
        transform: translateY(25rem) scale(5); /* Estado inicial */
        opacity: 0; /* Invisible */
    }
    1% {
        opacity: 1;
    }
    75% {
        transform: translateY(25rem) scale(3); /* Estado intermedio */
    }
    100% {
        transform: translateY(0) scale(1); /* Estado final */
        opacity: 1; /* Visible */
    }
}
// Animación de elementos del hero
@keyframes Opacidad1 {
    0% {
        opacity: 0; /* Estado inicial */
    }
    100% {
        opacity: 1; /* Estado final */
    }
}
// Animación del botón de play de hero
@keyframes BotonPlay {
    0%, 30% {
        transform: translateY(-20rem) scale(7); /* Estado inicial */
    }
    70% {
        transform: translateY(-20rem) scale(3); /* Estado final */
    }
    100% {
        transform: translateY(0) scale(1); /* Estado final */
    }
}
// Animación de pulsos del icono de ubicación
@keyframes pulse-waves {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.3); // Las ondas crecen y desaparecen
    }
}

/*************************************** Animaciones de sugerencia dress code ***************************************/
// Animaciones
@keyframes plus-animation {
    0% {
        transform: rotate(0) scale(1);
    }
    20% {
        transform: rotate(60deg) scale(0.93);
    }
    55% {
        transform: rotate(35deg) scale(0.97);
    }
    80% {
        transform: rotate(48deg) scale(0.94);
    }
    100% {
        transform: rotate(45deg) scale(0.95);
    }
}

@keyframes plus-animation-reverse {
    0% {
        transform: rotate(45deg) scale(0.95);
    }
    20% {
        transform: rotate(-15deg);
    }
    55% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0) scale(1);
    }
}

@keyframes stretch-animation {
    0% {
        transform: scale(1, 1);
    }
    10% {
        transform: scale(1.1, 0.9);
    }
    30% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.05, 0.95);
    }
    100% {
        transform: scale(1, 1);
    }
}
