@use 'variables' as v;

// Ejemplo para hacer un mixin inteligente
// @mixin heading($color: black, $border-radius: false) { // Después de los ':' se dice el valor default
//     text-transform: uppercase;
//     font-size: 2.4rem;
//     color: $color;
//     letter-spacing: 1rem;
//     background-color: black;
//
//     @if $border-radius {
//         border-radius: 1rem;
//     }
// }
//
// Y se mandaría a llamar de la siguiente forma:
//
// .prueba {
//     @include heading(v.$color, true);
// }

@mixin columnas-Iguales($cantidad: 2, $UpDown: 0, $LeftRight: 5rem) {
    display: grid;
    grid-template-columns: repeat($cantidad, 1fr);
    gap: $UpDown $LeftRight;
}
@mixin filas-Iguales($cantidad2: 2, $UpDown2: 0, $LeftRight2: 5rem) {
    display: grid;
    grid-template-rows: repeat($cantidad2, 1fr);
    gap: $UpDown2 $LeftRight2;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin animation($name, $duration, $timing-function: ease) {
    -webkit-animation-name: $name;
    -webkit-animation-duration: $duration;
    -webkit-animation-timing-function: $timing-function;
    -moz-animation-name: $name;
    -moz-animation-duration: $duration;
    -moz-animation-timing-function: $timing-function;
    -o-animation-name: $name;
    -o-animation-duration: $duration;
    -o-animation-timing-function: $timing-function;
    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $timing-function;
}

@mixin respond-to($size) {
    @if map-has-key($breakpoints, $size) {
        @media only screen and (max-width: map-get($breakpoints, $size)) {
            @content;
        }
    } @else {
        @warn "The breakpoint `#{$size}` does not exist.";
    }
}

@mixin arrow-position($side, $rotation) {
    cursor: pointer;
    top: 50%;
    width: 5%;
    position: absolute;
    z-index: 201;
    @if $side == 'right' {
        right: 10px;
    } @else if $side == 'left' {
        left: 10px;
    }
    @include transform(rotate($rotation));
}  

